*{
    box-sizing: border-box;
    font-family: Arial;
}

body{
    min-height: 100vh;
    margin: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    text-align: center;
}

main{
    width: 100%;
    min-height: 80vh;
}

.buttons-box{
    margin: auto;
    /* width: 50%; */
    display: flex;
    flex-direction: row;
}

button{
    /* width: 100%; */
    margin: auto;
    padding: 1rem;
    background: #0069ed;
    color: white;
    cursor: pointer;
    font-size: 100%;
    border: none;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.imgContainer{
    margin: auto;
    padding: 10px;
    width: 50%;
}

img{
    width: 100%;
}